.searched-item-name-container {
    display: flex;
    height: auto;
    width: 1180px;
    margin: auto;
}

.searched-item-name-text {
    color: white;
    font-size: 36px;
    font-weight: 600;
    padding: 0;
    margin: 30px 0;
    font-family: Roboto, serif;
    z-index: 10;
}

.go-to-products-page-icon-delete {
    width: 32px;
    height: 32px;
    margin: auto 0 auto 10px;
    color: white;
    cursor: pointer;
}

.content-products {
    display: flex;
    height: auto;
    width: 1180px;
    margin: auto;
}

.left {
    display: flex;
    width: 295px;
    height: auto;
}

.categories-buttons {
    width: 295px;
    height: auto;
}

.categories-buttons-button {
    display: flex;
    width: 270px;
    height: 44px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    border-radius: 12px;
    color: white;
    transition: background-color 0.3s;
    cursor: pointer;
}

.categories-buttons-button:hover {
    background-color: #24272C;
}

.categories-buttons-button-current {
    display: flex;
    width: 270px;
    height: 44px;
    margin-bottom: 10px;
    background-color: #3F4448;
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
}

.categories-buttons-button-icon {
    width: 30px;
    height: 30px;
    margin: auto 8px auto 6px;
}

.categories-buttons-button-text {
    font-family: Roboto, serif;
    font-size: 16px;
    margin: auto 0;
}

.sort-options-dropdown {
    position: absolute;
    background-color: #191B1F;
    border: 1px lightslategray solid;
    color: white;
    font-family: Roboto, serif;
    font-size: 16px;
    margin-top: 54px;
    border-radius: 12px;
    width: auto;
    padding: 10px;
    z-index: 10;
}

.sort-options-dropdown-option-box {
    background-color: transparent;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items: center;
}

.sort-options-dropdown-option-box:hover {
    background-color: #3F4448;
}

.sort-options-dropdown-option {
    display: flex;
    margin: auto;
    align-items: center;
}

.sort-options-dropdown-option-icon {
    width: 16px;
    height: 16px;
    margin-right: 12px;
}

.right {
    width: 885px;
    height: auto;
}

.sort-options {
    display: flex;
    width: 875px;
    height: auto;
    margin-left: 10px;
    flex-wrap: wrap;
}

.sort-options-button {
    display: flex;
    height: 44px;
    width: auto;
    border-radius: 12px;
    font-family: Roboto, serif;
    font-size: 16px;
    background-color: transparent;
    border: 1px lightslategray solid;
    color: white;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.sort-options-button-icon-sort {
    width: 20px;
    height: 20px;
    margin: auto 8px auto 6px;
}

.sort-options-button-text {
    margin: auto 0;
}

.sort-options-button-text-n {
    margin: auto 0 auto 8px;
}

.sort-options-button-icon-arrow {
    width: 20px;
    height: 20px;
    margin: auto 6px auto 6px;
}

.number-of-results {
    display: flex;
    color: white;
    width: auto;
    height: 50px;
    margin-bottom: 30px;
    margin-top: 10px;
    align-content: center;
}

.number-of-results-text {
    font-family: Roboto, serif;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 20px;
    width: auto;
    height: auto;
}

.number-of-results-line {
    flex: 1;
    height: 1px;
    border-bottom: 1px white solid;
    margin: auto 0;
}

.category-row-products {
    height: auto;
    width: 885px;
    display: flex;
    flex-direction: row;
    gap: 33px;
    position: relative;
    justify-content: right;
    margin-bottom: 33px;
}

.navigation-buttons {
    height: auto;
    width: 1180px;
    margin: 20px auto 0 auto;
    color: rgb(94, 112, 135);
    font-family: Roboto, serif;
    display: flex;
    align-items: center;
}

.navigation-buttons-button {
    border: none;
    background-color: transparent;
    color: rgb(94, 112, 135);
    cursor: pointer;
    font-family: Roboto, serif;
    font-weight: bold;
}

